*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(206, 197, 169);
    
    /* background-color: #49a078; */
    /* background-color: #24b484; */
}
.logo{
   
    color: #2f3e46;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #2f3e46;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 13.5px;
}

.burger{
    display: none;
    cursor: pointer;
    
}

.burger div{
    width: 25px;
    height: 3px;
    /* background-color: white; */
    margin: 5px;
    transition: all 0.3s ease;
}

.bg-midbody{
    background-color: rgb(206, 197, 169);
}
.profile-pic{
    display: flex;
    justify-content: center;
    padding: 15px;
    /* background-color: rgb(206, 197, 169); */
    
    /* margin-left: 22%; */
}


.introduction{
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}
.title-text{
    font-family: 'Poppins', sans-serif;
    /* margin-top: 60px; */
    /* float: left; */
    /* margin-left: 105px; */
    width: 30%;
}
.title-lines{
    letter-spacing: 1px;
    text-align: center;
}
.about-me{
    text-align: justify;
    margin-top: 10px;

}

/* .education{
    font-family: 'Poppins', sans-serif;
    margin-left: 41%;
    margin-top: 40px;
    text-align: justify;
} */
/* .edu-title{
    text-align: center;
} */
.blank{
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
    margin-top: 40px;
    text-align: justify;
    /* margin-bottom: 60px; */
    display: flex;
}

/* .column {
    flex: 50%;
    padding: 10px;
    
  } */
  

footer{
    background: rgb(206, 197, 169);
    height: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    /* padding-top: 40px; */
    color: #2f3e46;
    /* border: solid; */
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* border: solid; */
    padding: 20px;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 10px;
    /* margin-top: 20px; */
    /* border: solid; */
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #2f3e46;
}
.socials a i{
    /* margin-top: 10px; */
    font-size: 1.5rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(255, 255, 255);
}

.footer-bottom{
    /* border: solid; */
    
    /* background: rgb(206, 197, 169);
    /* width: 100vw; */
    /* padding-top: 0px; */
    padding-bottom: 80px;

} 
.footer-bottom p{
    text-align: center; 
    word-spacing: 2px;
    text-transform: capitalize;
    
    
}
/* .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200px;
} */

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #49a078;
        /* background-color: #24b484; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 100%;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0; 
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}